@import "tailwindcss";

@font-face {
    font-family: Inconsolata;
    src: url("./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --color-Neutral-0: hsl(0, 0%, 100%);
    --color-Neutral-300: hsl(252, 6%, 83%);
    --color-Neutral-500: hsl(245, 15%, 58%);
    --color-Neutral-700: hsl(245, 19%, 35%);
    --color-Neutral-900: hsl(248, 70%, 10%);
    --color-Orange-500: hsl(7, 88%, 67%);
    --color-Orange-700: hsl(7, 71%, 60%);

    --font-Inconsolata: Inconsolata, sans-serif;
    /* - Gradient (text): hsl(7, 86%, 67%) to hsl(0, 0%, 100%) */
}

body {
    @apply w-full min-h-screen bg-[url('./assets/images/background-mobile.png')] 
    md:bg-[url('./assets/images/background-tablet.png')] 
    lg:bg-[url('./assets/images/background-desktop.png')] bg-cover bg-center;
}

main {
    @apply bg-[url('./assets/images/pattern-lines.svg'),url('./assets/images/pattern-squiggly-line-top.svg'),url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg')] 
    md:bg-[url('./assets/images/pattern-lines.svg'),url('./assets/images/pattern-squiggly-line-top.svg'),url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg')] 
    lg:bg-[url('./assets/images/pattern-lines.svg'),url('./assets/images/pattern-squiggly-line-top.svg'),url('./assets/images/pattern-squiggly-line-bottom-desktop.svg')] text-Neutral-0 font-Inconsolata;
}
